@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;
	/* Map your Next.js font variable here */
	--font-main: var(--font-main);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);

	/* 1. This makes `font-sans` use your new font */
	--font-sans: var(--font-main), ui-sans-serif, system-ui;
}

body {
	background: var(--background);
	color: var(--foreground);
	/* 2. Set the global default font */
	font-family: var(--font-main), sans-serif;
}

.flag-dropdown {
	@apply rounded-tl-full; /* Tailwind width, height, rounded */
}

.selected-flag {
	@apply rounded-tl-full; /* Tailwind width, height, rounded */
}

@keyframes floatStair {
	0%,
	100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-3px);
	}
}

/* Big image: very subtle float */
@keyframes floatBig {
	0%,
	100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-4px);
	}
}

[data-aos] {
	overflow-x: clip;
}
html,
body {
	overflow-x: hidden;
}
.phone-wrapper .react-international-phone-country-selector-button {
	@apply border-none rounded-xl bg-transparent shadow-none;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

html {
	scroll-behavior: smooth;
}

.icon-mask {
	/* 1. Make the original image invisible but keep its space */
	object-position: -9999px;

	/* 2. Set the color you actually want */
	background-color: #666666;

	/* 3. Apply the mask using the CSS variable from the inline style */
	-webkit-mask-image: var(--icon-url);
	mask-image: var(--icon-url);

	-webkit-mask-size: contain;
	mask-size: contain;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
}
